# Node
client/node_modules/
client/dist/
client/.vite/
client/.DS_Store

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# Env
*.env
*.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/
build/
dist/

# Editors/OS
.DS_Store
*.swp
.idea/
.vscode/